In [1]:
from copy import deepcopy
import pandas as pd
import numpy as np
from data_handlers import GTFSHandler, AVLHandler, bpf, extract_sim_data, write_sim_data, ODXHandler
from itertools import product
from constants import *
import zipfile
import seaborn as sns
import matplotlib.pyplot as plt
from tqdm import tqdm
from interlining import *

In [2]:
gtfs, avl, odx = extract_sim_data()

With duplicates (446639, 21)
Without duplicates (400223, 21)

In [ ]:
write_sim_data(gtfs, avl, odx)

In [3]:
od = odx.scaled_od.copy()

In [65]:
scaled_od.groupby(['route_id', 'direction'])['pax'].sum().reset_index()

  route_id direction          pax
0       81      East  2537.781413
1       81      West  2647.792147
2       91     North  1617.108583
3       91     South  1653.348116
4       92      East  1608.154375
5       92      West  1737.299003

In [66]:
apc_flows.groupby(['route_id', 'direction'])['ons'].sum().reset_index()

  route_id direction          ons
0       81      East  2538.232454
1       81      West  2651.233007
2       91     North  1617.436866
3       91     South  1655.873184
4       92      East  1609.867663
5       92      West  1743.795259