In [1]:
import pandas as pd
import seaborn as sns
from utils import get_results
import matplotlib.pyplot as plt
from constants import *
import numpy as np
import os

plt.rcParams['figure.dpi'] = 120

In [2]:
def barplots(r, col, title=None, ylabel=None):
    fig, ax = plt.subplots()
    r['rt_dir'] = r['route_id'].astype(str) + '-' +r['direction']
    sns.barplot(r, y=col, x='rt_dir', 
                hue='scenario', palette=['black', 'gray', 'darkcyan'],
                ax=ax)
    if title:
        ax.set_title(title)
    if ylabel:
        ax.set_ylabel(ylabel)
    ax.set_xlabel('')
    # plt.ylim(0,20)

In [1]:
def headways(trips, rt_dir, date_, scenario, stop_seq):
    dt_date = pd.to_datetime(date_).date()
    tr = trips[
        trips['departure_sec'].dt.date == dt_date].copy()
    tr = tr[tr['scenario']==scenario]
    tr = tr[(tr['stop_sequence']==stop_seq) & 
            (tr['rt_dir']==rt_dir)]
    tr = tr.sort_values(by='departure_sec').reset_index(drop=True)
    tr['hw_td'] = tr['departure_sec'].diff()
    tr['hw'] = tr['hw_td'].dt.total_seconds()
    cols = ['route_id','trip_id', 'block_id', 'hw_td', 'hw', 
            'arrival_sec', 'departure_sec', 'schd_sec']
    return tr[cols]

def sub_pax(pax):
    df = pax.copy()
    df['wt'] = (df['boarding_time'] - df['arrival_time']).dt.total_seconds()/60
    df['date'] = df['arrival_time'].dt.date
    df['h'] = df['arrival_time'].dt.hour
    df['jt'] = (df['alighting_time'] - df['arrival_time']).dt.total_seconds()/60
    df = df[df['h'].isin([6,7,8])]
    return df

def outbound_only(df, rt_dirs):
    df = df.copy()
    df['rt_dir'] = df['route_id'].astype(str) + '-' + df['direction']    
    df = df[df['rt_dir'].isin(rt_dirs)].copy()    
    return df

def get_wait_time(df, group_by):
    mean_wt = df.groupby(group_by)['wt'].mean().reset_index()
    mean_wt = mean_wt.rename(columns={'wt':'wt_mean'})
    high_wt = df.groupby(group_by)['wt'].quantile(0.9).reset_index()
    high_wt = high_wt.rename(columns={'wt': 'wt_high'})
    
    wt = mean_wt.merge(high_wt, on=group_by)
    return wt

def get_rbt(df, group_by):    
    median_jt = df.groupby(group_by)['jt'].median().reset_index()
    median_jt = median_jt.rename(columns={'jt': 'jt_median'})
    high_jt = df.groupby(group_by)['jt'].quantile(0.9).reset_index()
    high_jt = high_jt.rename(columns={'jt': 'jt_high'})
#     pax_count = df.groupby(group_by)['arrival_time'].count().reset_index()
    
    jt = median_jt.merge(high_jt, on=group_by)
    jt['rbt'] = jt['jt_high'] - jt['jt_median']
    rbt = jt.drop(labels=['jt_median', 'jt_high'], axis=1)
    return

def rider_stats(df):
    group_by = ['date', 'scenario']
    ## wait time
    wt = get_wait_time(df, group_by)
    
    ## rbt 
    rbt = get_rbt(df, group_by)
    
    ## merge all
    rider_stats = wt.merge(rbt, on=group_by)
    
    return rider_stats

In [90]:
tstamp = '0709-1836'
path_from_cwd = 'data/sim_out/experiments_' + tstamp

pax = pd.read_csv(os.path.join(path_from_cwd, 'pax.csv'), 
                  parse_dates=['arrival_time', 'boarding_time', 'alighting_time'])
trips = pd.read_csv(os.path.join(path_from_cwd, 'trips.csv'), 
                    parse_dates=['arrival_sec', 'departure_sec', 'schd_sec'])
events = pd.read_csv(os.path.join(path_from_cwd, 'events.csv'))
wlog = pd.read_csv(os.path.join(path_from_cwd, 'worklog.csv'))
slog = pd.read_csv(os.path.join(path_from_cwd, 'superlog.csv'))

In [91]:
terminal_rt_dirs = []
for rt in ROUTES:
    terminal_rt_dirs.append(rt+'-'+OUTBOUND_DIRECTIONS[rt])

In [101]:
pdf = sub_pax(pax)

In [102]:
rider_stats(pdf)

         date scenario   wt_mean    wt_high        rbt
0  2022-11-21      EHD  8.458638  17.775000  19.766667
1  2022-11-21   EHD-DI  8.006763  16.370000  17.183333
2  2022-11-21       NC  9.220129  20.713333  19.206667
3  2022-11-30      EHD  7.545423  15.283333  18.958333
4  2022-11-30   EHD-DI  7.397684  15.416667  19.001667
5  2022-11-30       NC  7.981376  17.408333  20.391667
6  2022-12-01      EHD  7.654795  15.016667  18.201667
7  2022-12-01   EHD-DI  7.705353  15.686667  17.443333
8  2022-12-01       NC  8.140379  16.963333  17.506667

In [103]:
pdf_out = outbound_only(pdf, terminal_rt_dirs)
rider_stats(pdf_out)

         date scenario   wt_mean    wt_high        rbt
0  2022-11-21      EHD  8.009142  16.823333  17.456667
1  2022-11-21   EHD-DI  7.441073  14.691667  16.491667
2  2022-11-21       NC  9.039526  21.250000  18.633333
3  2022-11-30      EHD  7.037567  14.033333  18.381667
4  2022-11-30   EHD-DI  7.035039  13.883333  17.650000
5  2022-11-30       NC  7.501548  16.166667  19.073333
6  2022-12-01      EHD  7.247818  13.980000  17.126667
7  2022-12-01   EHD-DI  7.036203  14.060000  16.453333
8  2022-12-01       NC  8.215449  17.535000  17.333333

In [104]:
wlog[wlog['filled']==1].groupby('date')['trip_id'].count().reset_index()

         date  trip_id
0  2022-11-21        8
1  2022-11-30       10
2  2022-12-01        6

In [98]:
tdf = trips.copy()
tdf['rt_dir'] = tdf['route_id'].astype(str) + '-' + tdf['direction']

day = '2022-11-21'
lst_data = []

for rt_dir in terminal_rt_dirs:
    for scenario in ['NC', 'EHD', 'EHD-DI']:
        hws = headways(tdf, rt_dir, day ,scenario, 1)
        mean_hw = np.round(hws['hw'].mean(), decimals=1)
        sd_hw = np.round(hws['hw'].std(), decimals=1)
        lst_data.append([scenario, rt_dir, mean_hw, sd_hw, round(sd_hw/mean_hw, 2)])
pd.DataFrame(lst_data, columns=['scenario', 'rt_dir', 'mean_hw', 'sd_hw', 'cv'])

  scenario    rt_dir  mean_hw  sd_hw    cv
0       NC   81-East    741.8  423.6  0.57
1      EHD   81-East    741.6  303.6  0.41
2   EHD-DI   81-East    699.7  238.5  0.34
3       NC  91-South   1170.1  673.3  0.58
4      EHD  91-South   1165.3  449.0  0.39
5   EHD-DI  91-South    985.2  270.8  0.27
6       NC   92-East    682.9  153.7  0.23
7      EHD   92-East    683.1  144.5  0.21
8   EHD-DI   92-East    797.0  250.1  0.31

In [73]:
tdf = trips.copy()
tdf['rt_dir'] = tdf['route_id'].astype(str) + '-' + tdf['direction']

day = '2022-12-07'
lst_data = []

for rt_dir in terminal_rt_dirs:
    for scenario in ['NC', 'EHD', 'EHD-DI']:
        hws = headways(tdf, rt_dir, day ,scenario, 1)
        mean_hw = np.round(hws['hw'].mean(), decimals=1)
        sd_hw = np.round(hws['hw'].std(), decimals=1)
        lst_data.append([scenario, rt_dir, mean_hw, sd_hw, round(sd_hw/mean_hw, 2)])
pd.DataFrame(lst_data, columns=['scenario', 'rt_dir', 'mean_hw', 'sd_hw', 'cv'])

  scenario    rt_dir  mean_hw  sd_hw    cv
0       NC   81-East    610.3  275.7  0.45
1      EHD   81-East    688.8  274.8  0.40
2   EHD-DI   81-East    650.8  215.5  0.33
3       NC  91-South    909.6  358.4  0.39
4      EHD  91-South    911.6  283.6  0.31
5   EHD-DI  91-South    912.6  280.6  0.31
6       NC   92-East    660.5  143.8  0.22
7      EHD   92-East    672.0  133.9  0.20
8   EHD-DI   92-East    709.4  156.7  0.22

In [79]:
headways(tdf, '91-South', '2022-12-07', 'NC', 1)

,route_id,trip_id,block_id,hw_td,hw,arrival_sec,departure_sec,schd_sec
0,91,11565020,652000002631,NaT,NaN,2022-12-07 05:12:00,2022-12-07 05:12:00,2022-12-07 05:12:00
1,91,11129020,652000002632,0 days 00:27:27,1647.0,2022-12-07 05:39:20,2022-12-07 05:39:27,2022-12-07 05:39:00
2,91,1600020,652000002541,0 days 00:13:14,794.0,2022-12-07 05:52:30,2022-12-07 05:52:41,2022-12-07 05:52:30
3,91,24452020,652000002561,0 days 00:21:05,1265.0,2022-12-07 06:13:30,2022-12-07 06:13:46,2022-12-07 06:13:30
4,91,28414020,652000002595,0 days 00:08:51,531.0,2022-12-07 06:22:30,2022-12-07 06:22:37,2022-12-07 06:22:30
5,91,16130020,652000002545,0 days 00:09:29,569.0,2022-12-07 06:32:00,2022-12-07 06:32:06,2022-12-07 06:32:00
6,91,39674020,652000002631,0 days 00:09:36,576.0,2022-12-07 06:41:30,2022-12-07 06:41:42,2022-12-07 06:41:30
7,91,38441020,652000002581,0 days 00:19:35,1175.0,2022-12-07 07:01:00,2022-12-07 07:01:17,2022-12-07 07:01:00
8,91,48610020,652000002632,0 days 00:09:54,594.0,2022-12-07 07:11:00,2022-12-07 07:11:11,2022-12-07 07:11:00
9,91,37199020,652000002541,0 days 00:21:39,1299.0,2022-12-07 07:32:30,2022-12-07 07:32:50,2022-12-07 07:32:30
10,91,12758020,652000002561,0 days 00:22:02,1322.0,2022-12-07 07:54:30,2022-12-07 07:54:52,2022-12-07 07:54:30
11,91,37542020,652000002595,0 days 00:11:17,677.0,2022-12-07 08:06:00,2022-12-07 08:06:09,2022-12-07 08:06:00
12,91,25084020,652000002545,0 days 00:12:06,726.0,2022-12-07 08:18:00,2022-12-07 08:18:15,2022-12-07 08:18:00
13,91,19496020,652000002631,0 days 00:12:24,744.0,2022-12-07 08:30:30,2022-12-07 08:30:39,2022-12-07 08:30:30
14,91,35925020,652000002581,0 days 00:13:36,816.0,2022-12-07 08:44:00,2022-12-07 08:44:15,2022-12-07 08:44:00

In [77]:
headways(tdf, '91-South', '2022-12-07', 'EHD-DI', 1)

,route_id,trip_id,block_id,hw_td,hw,arrival_sec,departure_sec,schd_sec
0,91,11565020,652000002631,NaT,NaN,2022-12-07 05:12:00,2022-12-07 05:12:00,2022-12-07 05:12:00
1,91,11129020,652000002632,0 days 00:27:32,1652.0,2022-12-07 05:39:17,2022-12-07 05:39:32,2022-12-07 05:39:00
2,91,1600020,652000002541,0 days 00:17:15,1035.0,2022-12-07 05:56:30,2022-12-07 05:56:47,2022-12-07 05:52:30
3,91,24452020,652000002561,0 days 00:17:21,1041.0,2022-12-07 06:14:08,2022-12-07 06:14:08,2022-12-07 06:13:30
4,91,28414020,652000002595,0 days 00:08:56,536.0,2022-12-07 06:23:04,2022-12-07 06:23:04,2022-12-07 06:22:30
5,91,16130020,652000002545,0 days 00:09:22,562.0,2022-12-07 06:32:17,2022-12-07 06:32:26,2022-12-07 06:32:00
6,91,39674020,652000002631,0 days 00:13:17,797.0,2022-12-07 06:45:30,2022-12-07 06:45:43,2022-12-07 06:41:30
7,91,38441020,652000002581,0 days 00:13:00,780.0,2022-12-07 06:58:21,2022-12-07 06:58:43,2022-12-07 07:01:00
8,91,48610020,652000002632,0 days 00:16:36,996.0,2022-12-07 07:15:00,2022-12-07 07:15:19,2022-12-07 07:11:00
9,91,37199020,652000002541,0 days 00:20:01,1201.0,2022-12-07 07:34:54,2022-12-07 07:35:20,2022-12-07 07:32:30
10,91,12758020,652000002561,0 days 00:16:23,983.0,2022-12-07 07:51:30,2022-12-07 07:51:43,2022-12-07 07:54:30
11,91,37542020,652000002595,0 days 00:13:28,808.0,2022-12-07 08:04:51,2022-12-07 08:05:11,2022-12-07 08:06:00
12,91,25084020,652000002545,0 days 00:12:48,768.0,2022-12-07 08:17:51,2022-12-07 08:17:59,2022-12-07 08:18:00
13,91,19496020,652000002631,0 days 00:13:07,787.0,2022-12-07 08:31:00,2022-12-07 08:31:06,2022-12-07 08:30:30
14,91,35925020,652000002581,0 days 00:13:50,830.0,2022-12-07 08:44:48,2022-12-07 08:44:56,2022-12-07 08:44:00

In [85]:
day = pd.to_datetime('2022-12-07').date()
block_id = 652000002541
scenario = 'EHD-DI'

trips[(trips['block_id'] == block_id) & 
      (trips['scenario']==scenario) & 
      (trips['stop_sequence']==1) & 
      (trips['arrival_sec'].dt.date == day)]

,stop_id,stop_sequence,arrival_sec,departure_sec,passenger_load,ons,offs,schd_sec,trip_id,block_id,run_id,direction,route_id,scenario
18408,14103,1,2022-12-07 05:56:30,2022-12-07 05:56:47,6,6,0,2022-12-07 05:52:30,1600020,652000002541,F169,South,91,EHD-DI
18473,9617,1,2022-12-07 06:35:30,2022-12-07 06:35:30,0,0,0,2022-12-07 06:35:30,17504020,652000002541,F169,North,91,EHD-DI
18539,14103,1,2022-12-07 07:34:54,2022-12-07 07:35:20,10,10,0,2022-12-07 07:32:30,37199020,652000002541,F169,South,91,EHD-DI
18604,9617,1,2022-12-07 08:27:36,2022-12-07 08:27:46,2,2,0,2022-12-07 08:21:30,19868020,652000002541,F169,North,91,EHD-DI

In [88]:
day = pd.to_datetime('2022-12-07').date()
trip_id = 17504020
scenario = 'EHD-DI'

trips[(trips['trip_id'] == trip_id) & 
      (trips['scenario']==scenario) & 
      (trips['arrival_sec'].dt.date == day)].iloc[-3:]

,stop_id,stop_sequence,arrival_sec,departure_sec,passenger_load,ons,offs,schd_sec,trip_id,block_id,run_id,direction,route_id,scenario
18536,17064,64,2022-12-07 07:22:25,2022-12-07 07:22:25,16,0,0,2022-12-07 07:15:31,17504020,652000002541,F169,North,91,EHD-DI
18537,17038,65,2022-12-07 07:24:06,2022-12-07 07:24:30,4,0,12,2022-12-07 07:16:36,17504020,652000002541,F169,North,91,EHD-DI
18538,14103,66,2022-12-07 07:24:54,2022-12-07 07:24:54,0,0,4,2022-12-07 07:17:00,17504020,652000002541,F169,North,91,EHD-DI

In [89]:
slog

,time,lend_rt,borrow_rt,ratio,est_return,req_return
0,2022-11-21 05:46:40,92,81,1.800748,2022-11-21 07:16:00,2022-11-21 07:20:00
1,2022-11-21 06:36:25,81,91,3.706342,2022-11-21 08:14:00,2022-11-21 08:23:00
2,2022-11-21 08:25:30,92,91,2.214256,2022-11-21 09:59:00,2022-11-21 10:13:30
3,2022-11-21 05:46:40,92,81,1.800748,2022-11-21 07:16:00,2022-11-21 07:20:00
4,2022-11-21 06:36:25,81,91,3.706342,2022-11-21 08:14:00,2022-11-21 08:23:00
5,2022-11-21 08:25:30,92,91,2.214256,2022-11-21 09:59:00,2022-11-21 10:13:30
6,2022-12-07 05:45:01,92,81,1.234011,2022-12-07 07:16:00,2022-12-07 07:20:00
7,2022-11-21 05:46:40,92,81,1.800748,2022-11-21 07:16:00,2022-11-21 07:20:00
8,2022-11-21 06:36:25,81,91,3.706342,2022-11-21 08:14:00,2022-11-21 08:23:00
9,2022-11-21 08:25:30,92,91,2.214256,2022-11-21 09:59:00,2022-11-21 10:13:30
10,2022-12-07 05:45:01,92,81,1.234011,2022-12-07 07:16:00,2022-12-07 07:20:00