In [11]:
import pandas as pd
import matplotlib.pyplot as plt

In [20]:
df = pd.read_csv('out/compare/benchmark/numer_results.csv')
df

  parameter  prc_cancel         NC         EH
0      cv_h           0   0.501079   0.502359
1      cv_h          10   0.628473   0.528001
2      cv_h          25   0.666170   0.555439
3        wt           0   3.133614   3.170708
4        wt          10   4.029391   3.666251
5        wt          25   4.751104   4.212051
6        lp           0  30.000000  32.000000
7        lp          10  37.000000  37.000000
8        lp          25  41.600000  40.000000

In [21]:
df['prc_inc'] = (df['EH']-df['NC'])/(df['NC'])*100

In [24]:
df['prc_inc'] = df['prc_inc'].round(decimals=2)
df

  parameter  prc_cancel         NC         EH  prc_inc
0      cv_h           0   0.501079   0.502359     0.26
1      cv_h          10   0.628473   0.528001   -15.99
2      cv_h          25   0.666170   0.555439   -16.62
3        wt           0   3.133614   3.170708     1.18
4        wt          10   4.029391   3.666251    -9.01
5        wt          25   4.751104   4.212051   -11.35
6        lp           0  30.000000  32.000000     6.67
7        lp          10  37.000000  37.000000     0.00
8        lp          25  41.600000  40.000000    -3.85