In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('out/compare/benchmark/numer_results.csv')
df

  parameter  prc_cancel        NC        EH
0      cv_h           0  0.522224  0.521951
1      cv_h          10  0.593722  0.557256
2      cv_h          25  0.740755  0.627826
3        wt           0  3.217384  3.166322
4        wt          10  3.808699  3.722080
5        wt          25  5.635806  4.912611

In [4]:
df['prc_improve'] = (df['NC']-df['EH'])/df['NC']*100
df

  parameter  prc_cancel        NC        EH  prc_improve
0      cv_h           0  0.522224  0.521951     0.052260
1      cv_h          10  0.593722  0.557256     6.141920
2      cv_h          25  0.740755  0.627826    15.245096
3        wt           0  3.217384  3.166322     1.587056
4        wt          10  3.808699  3.722080     2.274255
5        wt          25  5.635806  4.912611    12.832152